$green: #497f67;

body {
  background: url("/img/background2.jpg");
  background-repeat: repeat;
}

#banner {
  background: rgba(255, 255, 255, 0.8);
  h1 {
    text-align: center;
    font-family: 'Bungee', cursive;
    padding: 1%;
  }
  img {
    height: 345px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


.container {
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Bungee Hairline', cursive;
  padding: 5%;
  width: 75%;
  .fixed {
    height: auto;
    position: fixed;
    width: 15%;
  }
.recipe-results, #results {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    li {
      list-style-type: none;
    }
    img {
      border-radius: 90%;
      border: solid 5px $green;
    }
  }
}
